<header>
    <div class="container">
        <NavLink id="logo" href="/"><img src="/images/logo/silicon-logo.svg" alt=""></NavLink>

        <div id="menu">
            <nav>
                <NavLink class="menu-link" href="/">Overview</NavLink>
                <NavLink class="menu-link" href="#features">Features</NavLink>
                <NavLink class="menu-link" href="/courses">Courses</NavLink>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <div class="slider round"></div>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            <NavLink class="btn-gray" href="/signin"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</NavLink>
            <NavLink class="btn-theme" href="/signup"><i class="fa-light fa-user"></i>Sign up</NavLink>
        </div>
    </div>
</header>
@code {

}
@* https://youtu.be/JK9oGXfiA38?t=4068 *@