@* @rendermode InteractiveAuto


@if(courses == null)
{
    <p>loading...</p>
}
else
{
    foreach(var course in courses)
    {
        <div>@course.Title</div>
    }
}

@* kanske kurssida ska vara en klient öht //Hans *@
@* @code {
        private Course[] courses;

        protected override async Task OnInitializedAsync()
        {
            using var httpClient = new HttpClient();
            courses = await httpClient.GetFromJsonAsync<Course[]>("https://localhost:9999/api/courses");
       }
    
} *@
 