@page "/signup"



<section class="sign-up">
    <div class="container">
        <div class="title">
            <h1>Create Account</h1>
            <p>Already have an account? <NavLink href="/signin">Sign in here.</NavLink></p>
        </div>

      <SignUpForm />

    </div>
</section>

<script defer src="../wwwroot/js/validation.js"></script>

@code {

}
