@page "/signin"

<section class="sign-in">
    <div class="container">
        <div class="title">
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <NavLink href="/signup">Sign up here.</NavLink></p>
        </div>

       <SignInForm />

    </div>
</section>
<script defer src="../wwwroot/js/validation.js"></script>
@code {

}
