
<header>
    <div class="container">
        <NavLink id="logo" href="/"><img src="/images/logo/silicon-logo.svg" alt="Logotype for Silicon"></NavLink>

        <div id="menu" class="hide">
            <nav>
                <NavLink class="menu-link" href="/">Overview</NavLink>
                <NavLink class="menu-link" href="/#features">Features</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/courses">Courses</NavLink>
                    </Authorized>
                </AuthorizeView>
                <a href="https://silicon-blazor-backoffice-camillabjorkgren-edb2bccybqgjdnc2.swedencentral-01.azurewebsites.net" target="_blank" class="menu-link">Silicon Backoffice</a>
            </nav>
        </div>


        <div class="account-buttons hide">
            <AuthorizeView>
                <Authorized>
                    <div class="profile">
                        <div class="image">
                            <NavLink href="/profile/details">
                                @if (User != null && User.UserProfile != null && !string.IsNullOrEmpty(User.UserProfile.ProfileImg))
                                {
                                    <img src="@User.UserProfile.ProfileImg" alt="profile image" onerror="this.onerror=null; this.src='/images/profile-image.svg';">
                                }
                                else
                                {
                                    <img src="/images/profile-image.svg" alt="default profile image">
                                }
                            </NavLink>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn-gray" href="/signin"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</NavLink>
                    <NavLink class="btn-theme" href="/signup"><i class="fa-solid fa-user"></i>Sign up</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <a type="button" onclick="toggleMenu()" class="btn-mobile">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="mobile-menu">
            <ul>
                <li><NavLink href="/">Home</NavLink></li>
                <AuthorizeView>
                    <NotAuthorized>
                        <li><NavLink href="/signin">Sign In</NavLink></li>
                        <li><NavLink href="/signup">Sign Up</NavLink></li>
                    </NotAuthorized>
                    <Authorized>
                        <li><NavLink href="/Courses">Courses</NavLink></li>
                        <li class="profile">
                            <div class="image">
                                <NavLink href="/account"><img src="/images/profile-image.svg" alt="Profile image" /></NavLink>
                            </div>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </nav>
    </div>
</header>





@code {
    [Parameter]
    public ApplicationUser User { get; set; }

}
