@inherits LayoutComponentBase
@layout AccountLayout




<section class="account-details">

    @if (!string.IsNullOrEmpty(@statusMessage))
    {
        <div class="errormessage">
            @statusMessage
        </div>
    }
    <div class="container">


        <UserProfileComponent />

        </div>

    

</section>



@code {
    [SupplyParameterFromQuery]
    private string statusMessage { get; set; } = "";
}
