@using BlazorWebAppCamilla.Components.Layout
@inherits LayoutComponentBase
@layout MainLayout

@attribute [StreamRendering]
@inject UserDataService UserDataService


<section class="account-details">

    @if (!string.IsNullOrEmpty(@statusMessage))
    {
        <div class="errormessage">
            @statusMessage
        </div>
    }
    <div class="container">

        @if (user == null)
        {
            <p>Loading...</p>
        }
        else
        {
         <_UserProfileNavComponent User="user"/>

            @Body

        }


    </div>
</section>


@code {
    [SupplyParameterFromQuery]
    public string statusMessage { get; set; } = "";

    [CascadingParameter]
    public ApplicationUser user { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

   
}


